<html>
	<head><title>UI</title></head>
	<body>
		<h1> Welcome to the DataBase</h1>
		<p> if you made it here congrats you can make a Journal entry. if you are a robot than fuck you,but since i have no security you can post too!</p>
		<p> Yeah leave whatever you want write whatever you want, You Will not be tracked other than what time you submited it </p>
		<form action="/add" method="post">
			<input type="text" placeholder="location" name="location"></input>
			<input type="text" placeholder="entry" name="text"></input>
			<input type="submit">
		</form>
	</body>

</html>
